.dropdownFilter {
    background: #33539E;
    border: 1px solid #33539E;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 3px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.dropdownFilterWhite {
    background: #fff;
    border: 1px solid #33539E;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 3px 20px;
    color: #33539E;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.dropdownFilterWhitev3 {
    background: #fff;
    border: 1px solid #A5A5A5;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 3px 20px;
    color: #A5A5A5;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.dropdownFilterWhitev4 {
    background: #fff;
    border: 1px solid #A5A5A5;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 3px 20px;
    color: #000;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.disabledDropdownFilterWhitev3 {
    color: rgba(0, 0, 0, 0.25) !important;
    background-color: #f5f5f5 !important;
    border-color: #d9d9d9 !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
    opacity: 1 !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: #F4F7FF;
    border-radius: 20px !important;
    padding-left: 20px;
    padding-right: 20px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid #33539E !important;
}

.ant-select-arrow {
    color: #33539E !important;
}

.ant-select-item-option-content {
    color: #33539E !important;
}

.textPagination {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* Dark Blue */
    color: #33539E;
}

.ant-pagination-options {
    display: none !important;
}