
.chatInput {
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 40%;
}

.button {
    position: absolute;
    bottom: 20px;
    left: 65%;
    right: 40px;
}

.chatBorder {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: solid #17a2b8 4px;
}

.chatScreen {
    position: absolute;
    top: 140px;
    left: 60px;
    right: 60px;
    bottom: 200px;
    border: solid #17a2b8 4px;
}

.titleChat {
    margin-top: 30px;
    color: #17a2b8;
}