/* @font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito'), url(/fonts/Nunito-Regular) format('ttf');
} */

.layout-demo .row {
  margin-bottom: 0.5rem;
}

.layout-demo .col {
  background-color: #e9ecef;
  border: 1px solid rgba(0, 0, 0, .05);
  padding: 1rem;
}

.layout-demo [class*="col-"] {
  background-color: #e9ecef;
  border: 1px solid rgba(0, 0, 0, .05);
  padding: 1rem;
}

.button-demo .btn {
  min-width: 7rem;
}

.ant-layout-sider-children {
  background: #fff;
  overflow: hidden;
  flex: 1 1 auto;
  flex-direction: column;
  display: flex;
}

[id^=components-button-demo] div:not(.ant-btn-group)>.ant-btn, [id^=components-button-demo] span:not(.ant-btn-group)>.ant-btn, [id^=components-button-demo] .ant-btn-group {
  margin-right: 8px;
  margin-bottom: 12px;
}

[id^=components-button-demo] p {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
}

[id^=components-icon-demo] .icons-list>.anticon {
  margin-right: 6px;
  font-size: 24px;
}

[id^=components-affix-demo] .scrollable-container {
  height: 100px;
  overflow-y: scroll;
}

[id^=components-affix-demo] .background {
  padding-top: 60px;
  height: 300px;
  background-image: url('https://zos.alipayobjects.com/rmsportal/RmjwQiJorKyobvI.jpg');
}

[id^=components-pagination-demo] .ant-pagination:not(:last-child) {
  margin-bottom: 24px;
}

[id^=components-form-demo-advanced-search] .ant-form {
  max-width: none;
}

[id^=components-form-demo-advanced-search] .search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

[id^=components-form-demo-global-state] .language-bash {
  max-width: 400px;
  border-radius: 6px;
  margin-top: 24px;
}

[id^=components-switch-demo] .ant-switch {
  margin-bottom: 8px;
}

[id^=components-slider-demo] h4 {
  margin: 0 0 16px;
}

[id^=components-slider-demo] .ant-slider-with-marks {
  margin-bottom: 44px;
}

[id^=components-avatar-demo-basic] .ant-avatar {
  margin-bottom: 16px;
  margin-right: 16px;
}

[id^=components-badge-demo] .ant-badge:not(.ant-badge-not-a-wrapper) {
  margin-right: 20px;
}

[id^=components-badge-demo] .anticon-notification {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
}

[id^=components-badge-demo] .ant-badge-not-a-wrapper:not(.ant-badge-status) {
  margin-right: 8px;
}

.head-example {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background: #eee;
  display: inline-block;
  vertical-align: middle;
}

[id^=components-popover-demo-placement] .ant-btn {
  width: 70px;
  text-align: center;
  padding: 0;
}

[id^=components-tooltip-demo-placement] .ant-btn {
  width: 70px;
  text-align: center;
  padding: 0;
}

[id^=components-tabs-demo-card-to] .code-box-demo {
  background: #F5F5F5;
  overflow: hidden;
  padding: 24px;
}

.components-table-demo-control-bar {
  margin-bottom: 10px;
}

.components-table-demo-control-bar .ant-form-item {
  margin-right: 16px;
  margin-bottom: 8px;
}

[id^=components-message-demo-other] .ant-btn {
  margin-right: 8px;
}

[id^=components-progress-demo] .ant-progress-circle-wrap, [id^=components-progress-demo] .ant-progress-line-wrap {
  margin-right: 8px;
  margin-bottom: 5px;
}

[id^=components-popconfirm-demo-placement] .ant-btn {
  width: 70px;
  text-align: center;
  padding: 0;
}

[id^=components-alert-demo] .ant-alert {
  margin-bottom: 16px;
}

[id^=components-badge-demo] .ant-badge:not(.ant-badge-not-a-wrapper) {
  margin-right: 20px;
}

[id^=components-badge-demo] .head-example {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background: #e6e6e6;
  display: inline-block;
  vertical-align: middle;
}

[id^=components-carousel-demo] .ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

[id^=components-carousel-demo] .ant-carousel .slick-slide h3 {
  color: #fff;
}

[id^=components-progress-demo] .ant-progress-circle-wrap, [id^=components-progress-demo] .ant-progress-line-wrap, [id^=components-progress-demo] .ant-progress-circle {
  margin-right: 8px;
  margin-bottom: 5px;
}

[id^=components-datepicker-demo] .ant-calendar-picker, [id^=components-timepicker-demo] .ant-time-picker, [id^=components-input-demo] .ant-input-number, [id^=components-input-demo] .ant-select {
  margin-bottom: 16px;
  margin-right: 16px;
}

.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover {
  color: unset;
}

.tabular-w {
  display: inline-flex;
}

.tabular-i {
  margin-right: 20px;
}

.tabular-i>a {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 97.1%;
  color: #A7A7A7;
}

div.tabular-i.active>a {
  color: #0C5BF0;
}

div.tabular-i.active>a>p {
  padding-bottom: 10px;
  padding-right: 10px;
  border-bottom: solid 2px #0C5BF0;
}

.tabular-border-bottom {
  border-bottom: solid 1px #A5A5A5;
}